*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    color:tomato
}

h1{
    color:darkgoldenrod
}
div h1{
    color: green;
}
.title{
    color: blue;
}
.btn-principal{
    color: violet;
}
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: black;
    width: 20rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;
}
.modal h1{
    color: white;
    font-size: 1.2rem;
}
.modal button{
    color: white;
    background-color: pink;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 100%;
    position: relative;
    top: -6.5rem;
    left: 17.5rem;
}
.box-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: 70rem;
}
.box{
    background-color: palevioletred;
    color: white;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
.box-container .box:nth-child(6){
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
}

#special-title{
    color: turquoise;
    font-style: italic;
}