*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: flex-end center;
    place-content: center;
    gap: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    z-index: 1;
    transition: all 0.3s;
    box-shadow: 0px 0px 15px 4px rgba(54,141,199,1);
}
.container:hover{
    transform: translateY(2rem) translateZ(1rem);
    
}
.container img{
    width: 100%;
    border-radius: 10px;
}
.container img:hover{
    transform: perspective(500px) rotateY(10deg);
}
.container p{
    font-size: 1.2rem;
    font-weight: 500;
}
.fixed-icon{
    background-color: blueviolet;
    width: 5rem;
    padding: 1rem;
    border-radius: 100%;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 1000;
}
.fixed-icon img{
    filter: invert(1);
    width: 100%;
}